/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    /* par défaut, la balise “body” comporte des marges */
    margin: 0;
    padding: 0;

    /*footer fixe en bas de page*/
    /* height: 100%;
    position: relative; */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *******************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo nav{
    display: flex;
}

#logo img {
    display: flex;
    width: 60px;
    height: 20px;
    padding-top: 8px;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: flex;
    padding: 0 20px;
    border-top: 4px solid white;
}

header nav ul li a {
    padding-top: 20px;
    padding-bottom: 20px;   
}

header nav ul li:hover {
    color: var(--main-color);
    border-top: 4px solid var(--main-color);
}

/****** Infos *********************************/
.infos {
    /* position: relative; */
}
.infos-title {
    margin: 30px 0 30px 0;
}

/* .infos-title h1 {
    margin-bottom: 5px;
} */

.infos-title p {
    margin-top:0;
}

/****** searchbar ***********/
.searchbar {
    /* border:solid 3px red; */
    /* margin-left: 0; */
    justify-content: center;
    margin: 0 0 30px 0;
    /* margin-bottom: 30px; */
}

.searchbar i {
    color: black;
    /* border: solid 1px var(--filter-bg-color); */
    background-color: var(--main-bg-color);
    padding: 15px 20px;
    margin: 0;
    border-radius: 15px 0 0 15px;
    margin: 0;
    border: none;
    margin-right: 0;
}

.search {
    border: solid 1px var(--main-bg-color);
    border-left: none;
    border-right: none;
    margin: 0;
    padding: 15px 20px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* font-size: 16px; */
    font-weight: bold;
    
}

.searchButton {
    background-color: var(--main-color);
    color: white;
    border-radius: 0 15px 15px 0;
    margin: 0;
    padding: 15px 20px;
    border: none;
    margin-left: 0;
    font-family: 'Raleway', sans-serif;
    /* font-size: 16px; */
    font-weight: bold;
}

/****** filters *************/
.filters {
    display: flex; 
    margin-left: 0;
    /* margin-top: 33px; */
    /* margin-bottom: 10px; */
    /* padding:0; */
    align-items: center;
}
.filters h2 {
    margin-right: 13px;
    /* border: solid 3px red; */
}

.filters-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* box-sizing: border-box; *************/
}

.filters-list button p.card-title {
    /* font-family: 'Raleway', sans-serif; */
    font-weight: bolder;
}

/* .filters h3 {
    margin-left: 0;
    border: solid 2px red;
}

.filters i {
    margin-right: 0;
    border: solid 2px purple;
} */
.button {
	/* margin: 20px 0px; */
	box-sizing: border-box;
    width: 150px;
    height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

    text-align: center;
}

button .filter-type .button i {
    font-size: normal;
}

.filter-type {
    background-color:white;
    border-radius: 40px;
    /* padding: 0 5px; */
    border: solid 3px var(--main-bg-color);
    justify-content: space-around;
    margin: 9px;
}

.filter-type:hover {
    background-color: var(--filter-bg-color);
}

/****** informations ************/
.informations {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.informations i {
    color: var(--main-color);
    font-size: normal;
    padding: 0 15px 0 4px;
    /* padding-right: 15px; */
}

/* .informations p {
   margin-left: 9px;
} */

/* .fa-circle-info {
    color:white;
    background: var(--main-color);
    border: solid 2px var(--main-bg-color);
} */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements *********/
.hebergements {
    width: 65%;
    box-sizing: border-box;
    justify-content: space-between;
    /* position: relative; */
    /* border: solid 4px green; */
}

.hebergement-title {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    /* border: solid 5px rgb(200, 243, 70); */
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center;
    gap: 15px; */

    /* border: solid 5px red; */
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 243px;
    /* width: 235px; */
    height: 220px;
    margin: 33px 0 15px 0;
    /* margin-top: 33px;
    margin-bottom: 15px; */
    /* margin-bottom: 5px; */

     /* border: solid 5px rgb(243, 70, 188); ROSE */
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    
    border-radius: 20px 20px 0 0;
    /* object-fit: cover; */
    align-items: center;
    /* padding: 5px 10px 0 5px; */
    /* border: solid 5px rgb(105, 70, 243); */
}

.hebergements-cards .card-content {
    width: 100%;
    /* height: 50px; */

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
    /* border: solid 5px rgb(70, 243, 131); */
}

.hebergements-cards .card-title {
    /* margin-top: 5px; */
    /* margin-bottom: 15px; */
    margin: 8px 0 8px 15px;
    /* border: solid 3px rgb(243, 131, 70); */
}

.hebergements-cards .card-subtitle {
    /* padding-bottom: 5px; */
    margin: 8px 0 8px 15px;
    /* border: solid 3px rgb(70, 203, 243); */
}

.hebergements-cards .card-rating {
    /* margin-bottom: 5px; */
    /* margin: 0 0 0 15px; */
    margin-left: 15px;
    /* border: solid 2px rgb(19, 26, 242); */
}

.hebergements .show-more a {
    /* font-size: 18px; */
    font-weight: bold;
    /* margin-top: 50px; */
    /* margin-left: 3px;*/
    /* border: solid 3px rgb(243, 220, 70); */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    /* position: relative; */
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0 0 20px;
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
   margin-top: 33px;
    /* margin-bottom: 30px; */
}

/****** Activités ******************************/
.activities {
    width: 100%;
    justify-content: space-between;
    /* border: solid 5px red; */
    
    padding: 30px;
    box-sizing: border-box;

    /* position: relative;
    padding-bottom: 150px; */


    /* margin-bottom: 33px; */
}

.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    /* border: solid 5px rgb(60, 0, 255); */

}

.activities-cards {
    display: flex;
    /* width: 50%; */
    /* align-items: center; */
    /* margin-top: 33px; */
    box-sizing: border-box;
    /* padding: 0; */

    flex-wrap: wrap;
    justify-content: space-between;
    /* border: solid 5px rgb(255, 247, 0); */
}

.activities article.card-activity {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 234px;
    /* width: 235px; */
    height: 340px;
    /* gap: 10px; */
    /* margin: 33px 0 15px 0; */
    background-color: white;
    border-radius: 20px;
    margin-bottom: 33px;
    /* padding: 5px; */
    /* justify-content: center; */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

    /* border: solid 5px rgb(0, 234, 255); */

}

.activities-cards img {
    width: 100%;
    height: 280px;
    /* padding: 0; */
    /* padding: 0 0 5px 0; */
    border-radius: 20px 20px 0 0;
    /* border: solid 5px rgb(255, 0, 183); */

    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
}

.activities-cards .card-content {
    width: 100%;
    /* padding-left: 15px; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* padding-left: 25px; */
    justify-content: center;
    box-sizing: border-box;
    /* border: solid 5px rgb(0, 255, 85); */

}

.activities-cards .card-title {
    /* margin-top: 10px; */
    /* margin-bottom: 4px; */
    /* margin-left: 40px; */
    /* border: solid 5px rgb(217, 255, 0); */
}


/****** Footer *********************************/
footer {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: -25px;

    /* border: solid 5px rgb(255, 115, 0); */

}
.section-footer {
    display: flex;
    flex-direction: column; 
    width: 263px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-bottom: 0;
  
    /* border: solid 5px rgb(208, 0, 255); */
}

.footer-title {
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    /* border: solid 5px rgb(0, 0, 255); */
}

footer nav.footer-list ul {
    list-style: none;
    flex-direction: column;
    padding-left: 0;
    /* padding-bottom: 0; */
    /* border: solid 5px rgb(217, 255, 0); */
}

footer nav.footer-list ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 0;
    /* border: solid 4px rgb(0, 195, 255); */
}

footer nav.footer-list ul li a {
    margin: 0;
    padding: 0;
    /* border: solid 3px rgb(255, 0, 179); */
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}