/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --white-color: #ffffff;
  --black-color: #000000;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  /* par défaut, la balise “body” comporte des marges */
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.bold-text {
  font-size: 18px;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header *******************************/
header {
  display: flex;
  justify-content: space-between;
}

/** logo **/
#logo img {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px 30px 0;
}

/** menu **/
header nav {
  display: flex;
  height: 35px;
}

header nav ul {
  display: flex;
  gap: 68px;
  margin: 0;
}

header nav ul li {
  display: flex;
}

header nav ul li a {
  padding-top: 10px;
  border-top: 2px solid var(--white-color);
}

header nav ul li a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Info group *********************************/

/** headline **/
.infos-title h1 {
  margin-bottom: 0;
}

.infos-title p {
  margin-top: 8px;
  margin-bottom: 30px;
}

/** search-bar **/
.searchbar {
  display: flex;
  height: 49px;
  margin-bottom: 30px;
}

#localisation {
  color: var(--black-color);
  background-color: var(--main-bg-color);

  padding: 15px 16px;
  border-radius: 15px 0 0 15px;
  font-size: larger;
}

.search {
  border: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  height: 49px;

  text-align: center;
}

#searchButton {
  background-color: var(--main-color);
  color: var(--white-color);

  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
  border: none;

  text-align: center;
  font-size: 18px;
}

#searchButtonMobile {
  display: none;

  color: var(--white-color);
  background-color: var(--main-color);

  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: larger;

  width: 49px;
  height: 49px;

  justify-content: center;
  align-items: center;
}

/** filterBar **/
.filters {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.filters h2 {
  margin-right: 15px;
}

.filters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filters i {
  margin-right: 10px;
}

.filters-list button p {
  font-weight: 700;
  font-size: 17px;
}

.button {
  box-sizing: border-box;
  width: 173px;
  height: 50px;
  padding: 4px 19px 4px 19px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.filter-type i {
  font-size: large;
}

.filter-type {
  background-color: var(--white-color);
  margin-right: 10px;
  border-radius: 25px;
  border: solid 2px var(--main-bg-color);
}

.filter-type:hover {
  background-color: var(--filter-bg-color);
}

/** infobar **/
.informations {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.informations i {
  color: var(--main-color);
  border: 1px solid var(--filter-bg-color);
  border-radius: 50%;
  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.informations p {
  margin-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements *********/
.hebergements {
  width: 65%;
 }

/** title **/
.hebergement-title {
  display: flex;
  align-items: center;
  /* margin-bottom: 30px; */
}

/** cards "Hébergements" **/
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
  /* width: 250.33px; */
  height: 207.25px;
  margin: 30px 0 15px 0;
  border: 3px solid red;
}

.hebergements-cards img {
  width: 100%;
  height: 120px;

  border-radius: 20px 20px 0 0;
  align-items: center;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin: 8px 0 8px 15px;
}

.hebergements-cards .card-subtitle {
  margin: 8px 0 8px 15px;
}

.hebergements-cards .card-rating {
  margin-left: 15px;
}

.hebergements .show-more a {
  font-weight: bold;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-top: 33px;
  margin-bottom: 5px;
}

/****** Activités ******************************/
.activities {
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  box-sizing: border-box;
}

/** title **/
.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/** cards "Activités" **/
.activities-cards {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activities article.card-activity {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 297.5px;
  height: 439px;

  background-color: var(--white-color);
  border-radius: 20px;
  margin-bottom: 33px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activities-cards .card-content {
  padding-left: 15px;
  display: flex;
}

/****** Footer *********************************/
footer {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: -25px;
}

/** "Rubrique" **/
.section-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-left: 30px;
  padding-bottom: 0;
  width: 263px;
}

.footer-title {
  width: 100%;
  margin-top: 10px;
  /* box-sizing: border-box; */
}

footer nav.footer-list ul {
  list-style: none;
  flex-direction: column;
  padding-left: 0;
}

footer nav.footer-list ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 0;
}

footer nav.footer-list ul li a {
  margin: 0;
  padding: 0;
}

/****** Media queries ***********/

/****** Medium devices (tablets, less/equal than 1024px) *****/
@media (max-width: 1024px) and (min-width: 768px) {
  
  /*** Info group \ filter-bar ***/
  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filters h2 {
    justify-content: flex-start;
    padding-left: 6px;
  }

  /**** Hebergements And Populaires ****/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergement-title {
    margin-bottom: 0;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hebergements-cards #cannebiere {
    border: 3px solid red;
  }

  .hebergements-cards a {
    width: 30%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }
.populaires-cards img {
    border: 3px solid red;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /**** Activités ****/
  .activities article.card-activity {
    height: 270px;
    width: 145px;
  }

  .activities-cards img {
    height: 200px;
  }

  .activities-cards .card-content {
    padding-left: 8px;
  }
}

/******* Small devices (phones, less than 768px) ******/
@media screen and (max-width: 768px) and (min-width: 320px) {
  
    .main-container {
    padding: 0;
  }

  /**** Header ****/
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #logo img {
    padding: 30px 0 30px 0;
    border: 3px solid red;
  }

  /** menu **/
  header nav ul li {
    border: 3px solid red;
  }

  header nav ul li a {
    display: flex;
    justify-content: center;

    padding: 0 150px;
    width: 50%;
    /* width: 250px; */

    border-top: none;
    border-bottom: 2px solid var(--white-color);
  }

  header nav ul li a:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  /**** Info group ****/
  .infos {
    padding-left: 30px;
  }
  /*** search-bar ***/
  .searchbar {
    justify-content: center;
    width: 100%;
    border: 3px solid red;
  }

  #searchButton {
    display: none;
  }

  #searchButtonMobile {
    display: inline-flex;
  }

  /*** filterBar ***/
  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filters h2 {
    margin-right: 13px;
  }
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filters i {
    margin-left: 10px;
  }

  .filters-list button p {
    margin-left: 9px;
  }

  .filter-type {
    width: 220px;
    justify-content: center;
  }

  .informations {
    margin: 0;
  }

  /**** Hebergements And Populaires ****/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    /* background-color: var(--white-color); */
    border-radius: 0;
    padding: 0;
  }

  /*** Hebergements ***/
  .hebergements {
    width: 100%;
    padding: 0;
    /* background-color: var(--white-color); */
    border: 3px solid red;
 }

  .hebergement-title {
    display: flex;
    align-items: center;
    padding: 30px 0 30px 30px;
  }

  .hebergements-cards a {
    width: 90%;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding-left: 30px;
  }

  .hebergements-cards .card {
    width: 100%;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .hebergements-cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    align-items: center;
  }

  .hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .hebergements .show-more a {
    padding-left: 30px;
  }

  /*** Populaires ***/
  .populaires {
    width: 100%;
  }

  .populaires-title {
    padding: 30px 0 0 30px;
  }

  .populaires-cards {
    padding: 0 30px 30px 30px;
  }

  /**** Activités ****/
  .activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .activities-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    padding-bottom: 0;
  }

  .activities-cards #fort {
    border: 3px solid red;
  }

  .activities article.card-activity {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    height: 350px;
    width: 100%;
  }

  .activities-cards img {
    width: 100%;
    height: 290px;
  }

  /**** Footer ****/
  footer {
    display: flex;
    flex-direction: column;
  }
}
