/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --white-color: #ffffff;
  --black-color: #000000;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  /* par défaut, la balise “body” comporte des marges */
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

/* .bold-text {
  font-size: 18px;
  font-weight: 700;
} */

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header *******************************/
header {
  display: flex;
  justify-content: space-between;
}

/** logo **/
#logo img {
  width: 61.09px;
  height: 19px;
  padding: 30px 0 30px 0;
}

/** menu **/
header nav {
  height: 2.431vw;/*35px*/
}

header nav ul {
  display: flex;
  gap: 4.722vw;/*68px*/
  margin: 0;
}

header nav ul li {
  display: flex;
  list-style: none;
  /* margin: 0; */
}

header nav ul li a {
  padding-top: 10px;
  border-top: 2px solid var(--white-color);
}

header nav ul li a:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Info group *********************************/

/** headline **/
.infos-title {
  height: 53px;
}
.infos-title h1 {
  margin-bottom: 0;
  padding-bottom: 8px;
}

.infos-title p {
    margin-top: 0;
}

/** search-bar **/
.searchbar {
  display: flex;
  /* height: 49px; */
  width: 377px;
  padding-top: 30px;
}

#localisation {
  color: var(--black-color);
  background-color: var(--main-bg-color);

  padding: 15px 16px;
  border-radius: 15px 0 0 15px;
  font-size: larger;
}

.search {
  border: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  height: 49px;

  text-align: center;
  font-size: 18px;
}

#searchButton {
  background-color: var(--main-color);
  color: var(--white-color);

  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
  border: none;

  text-align: center;
  font-size: 18px;
}

#searchButtonMobile {
  display: none;

  color: var(--white-color);
  background-color: var(--main-color);

  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: larger;

  width: 49px;
  height: 49px;

  justify-content: center;
  align-items: center;
}

/** filterBar **/
.filters {
  display: flex;
  align-items: center;
  padding-top: 30px;
  /* margin-bottom: 30px; */
}

.filters h2 {
  margin-right: 15px;
  font-size: 18px;
}

.filters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
}

/* .filters i {
  margin-right: 10px;
} */

.filters-list button span {
  font-weight: 700;
  font-size: 17px;
  padding-left: 10px;
}

.button {
  box-sizing: border-box;
  height: 50px;
  padding: 4px 19px 4px 19px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.filter-type i {
  font-size: large;
}

.filter-type {
  background-color: var(--white-color);
  margin-right: 15px;
  width: 173px;
  /* width: 12.014vw; */

  border-radius: 25px;
  border: solid 2px var(--main-bg-color);
}

.filter-type:hover {
  background-color: var(--filter-bg-color);
}

/** infobar **/
.informations {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 33px;
}

.informations i {
  color: var(--main-color);
  border: 1px solid var(--filter-bg-color);
  
  border-radius: 50%;
  height: 24px;
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.informations p {
  padding-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements *********/
.hebergements {
  width: 65%;
  /* height: 42.639vw; */
 }

/** title **/
.hebergement-title {
  display: flex;
  align-items: center;
  padding: 0 0 30px 0;
  /* margin-bottom: 30px; */
}

/** cards "Hébergements" **/
.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 2.083vw;
  /* gap: 2.5vw; */
  /* margin-top: 20px;*/
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
  /* width: 250.33px; */
  height: 207.25px;
  margin-bottom: 30px;
  /* height: 14.392vw; */
  /* margin: 30px 0 15px 0; */
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
  align-items: center;
}

.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  /* padding-left: 1.042vw;15px */
  /* padding-right: 1.042vw; */
  padding-left: 0.4vw;
  padding-right: 0.4vw;
}

.hebergements-cards .card-title,
.hebergements-cards .card-subtitle {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    margin: 8px 0 8px 15px;
}

.hebergements-cards .card-rating {
  /* margin-left: 15px; */
  padding-left: 15px;
}

.hebergements .show-more a {
  font-size: 18px;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 2.292vw;
  /* margin-top: 33px; */
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  /* padding-left: 0.4vw; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

/* .populaires-cards .card-title,
.populaires-cards .card-subtitle {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
} */

.populaires-cards .card-rating {
  /* margin-top: 33px; */
  margin-bottom: 5px;
}

/****** Activités ******************************/
.activities {
  width: 100%;
  /* padding: 30px; */
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 33px;
  /* box-sizing: border-box; */
}

/** title **/
.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  /* padding: 30px 0 30px 0; */
  /* margin-top: 30px;
  margin-bottom: 30px; */
}

/** cards "Activités" **/
.activities-cards {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 2.083vw; */
}

.activities article.card-activity {
  /* display: flex; */
  flex-direction: column;
  box-sizing: border-box;

  width: 297.5px;
  height: 439px;

  background-color: var(--white-color);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

  /* margin-bottom: 33px; */
  margin-bottom: 2.292vw;
}

.activities-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.activities-cards .card-content {
    box-sizing: border-box;
  /* padding-left: 19px; */
  /* text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; */
  /* padding: 20px 19px 20px 19px; */
  /* display: flex; */
}

.activities-cards .card-title {
    /* text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; */
    padding-left: 19px;
    /* padding: 20px 19px 20px 19px; */
}

/****** Footer *********************************/
footer {
  background-color: var(--main-bg-color);

  display: flex;
  justify-content: space-between;
  /* margin-bottom: -1.736vw; */
  /* margin-bottom: -25px; */
  width: 100%;
  /* height:11.319vw ; */
  /* height: 163px; */
}

/** "Rubrique" **/
.section-footer {
  flex-direction: column;
  box-sizing: border-box;
  /* padding-left: 20px; */
  padding: 0 0 0 20px;
  width: 30%;
  /* gap: 15px; */
  /* height:11.319vw ; */
}

footer nav.footer-list ul {
  padding-left: 0;
}

footer nav.footer-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px 0 ;
  /* gap: 1.042vw; */
}

/****** Media queries ***********/

/****** Medium devices (tablets, less/equal than 1024px) *****/
@media (max-width: 1024px) and (min-width: 768px) {
  
  /*** Info group \ filter-bar ***/
  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-type {
    width: 161px;
  }

  .filters h2 {
    justify-content: flex-start;
    /* padding-left: 6px; */
  }

  .filters-list button span {
    font-size: 16px;
  }

  /**** Hebergements And Populaires ****/
  .hebergements-and-populaires {
    flex-direction: column;
  }

  /*** Hebergements **/  
  .hebergements {
    width: 100%;
  }

  /* .hebergement-title {
    margin-bottom: 0;
  } */

  .hebergements-cards {
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
  }

  .hebergements-cards .card-title {
    font-size: 16px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 14px;
  }

  /*** Populaires **/
  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /**** Activités ****/
  .activities article.card-activity {
    height: 270px;
    width: 193.5px;
    /* height: 270px;
    width: 145px; */
  }

  .activities-cards img {
    height: 200px;
  }
}

/******* Small devices (phones, less than 768px) ******/
@media screen and (max-width: 768px) and (min-width: 320px) {
  
    .main-container {
    padding: 0;
  }

  /**** Header ****/
  header {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }

  #logo img {
    padding: 30px 0 30px 0;
    border: 3px solid red;
  }

  /** menu **/
  header nav ul {
    margin: 0;
  }
  header nav ul li {
    margin: 0;
    display: inline-block;
    width: 50%;
    padding-top: 10px;

    border: 3px solid red;
  }

  header nav ul li a {
    /* display: flex; */
    /* justify-content: space-between; */
    /* justify-content: center; */

    /* padding: 0 150px; */
    /* width: 50%; */
    /* width: 250px; */
    border-top: none;
    border-bottom: 2px solid var(--white-color);
  }

  header nav ul li a:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  /**** Info group ****/
  .infos {
    padding-left: 30px;
  }
  /*** search-bar ***/
  .searchbar {
    justify-content: center;
    width: 100%;
    border: 3px solid red;
  }

  #searchButton {
    display: none;
  }

  #searchButtonMobile {
    display: inline-flex;
  }

  /*** filterBar ***/
  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filters h2 {
    margin-right: 13px;
  }
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filters i {
    margin-left: 10px;
  }

  .filters-list button span {
    /* margin-left: 9px; */
    font-size: 14px;
    /* width:85px ; */
  }

  .filter-type {
    width: 220px;
    /* width: 162.5px; */
    justify-content: center;
  }

  .informations {
    margin: 0;
  }

  /**** Hebergements And Populaires ****/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    /* background-color: var(--white-color); */
    border-radius: 0;
    padding: 0;
  }

  /*** Hebergements ***/
  .hebergements {
    width: 100%;
    padding: 0;
    /* background-color: var(--white-color); */
    border: 3px solid red;
 }

  .hebergement-title {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
  }

  .hebergements-cards a {
    width: 90%;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding-left: 20px;
  }

  .hebergements-cards .card {
    width: 100%;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .hebergements-cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    align-items: center;
  }

  .hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .hebergements .show-more a {
    padding-left: 20px;
  }

  /*** Populaires ***/
  .populaires {
    width: 100%;
  }

  .populaires-title {
    padding: 30px 0 0 20px;
  }
 
  .populaires-title .fa-chart-line {
    margin-right: 20px;
  }

  .populaires-cards {
    padding: 0 20px 20px 20px;
  }

  /**** Activités ****/
  .activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .activities-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    padding-bottom: 0;
  }

  .activities-cards #fort {
    border: 3px solid red;
  }

  .activities article.card-activity {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    height: 350px;
    width: 100%;
  }

  .activities-cards img {
    width: 100%;
    height: 290px;
  }

  /**** Footer ****/
  footer {
    display: flex;
    flex-direction: column;
  }
}
